# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: jagan2002
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: awsapp2002
# "service" is the name of this project. This will also be added to your AWS resource names.
service: VaccinePortal

provider:
  name: aws
  runtime: nodejs20.x
  # Uncomment to easily set up a custom domain. Read the docs for more details:
  # https://www.serverless.com/framework/docs/providers/aws/guide/domains
  # domain: api.example.com

functions:
  registerUser:
    handler: dist/controllers/UserController.registerUser
    events:
      - httpApi:
          path: /register
          method: post
          
  loginUser:
    handler: dist/controllers/UserController.loginUser
    events:
      - httpApi:
          path: /login
          method: post

  getProfile:
    handler: dist/controllers/UserController.getProfile
    events:
      - httpApi:
          path: /getProfile
          method: post
            
  bookSlot:
    handler: dist/controllers/UserController.bookSlot
    events:
      - httpApi:
          path: /bookSlot
          method: post

  addSlot:
    handler: dist/controllers/AdminController.addSlot
    events:
      - httpApi:
          path: /addSlot
          method: post

  getSlots:
    handler: dist/controllers/AdminController.getSlots
    events:
      - httpApi:
          path: /getSlots
          method: get

  getAllBookings:
    handler: dist/controllers/AdminController.getAllBookings
    events:
      - httpApi:
          path: /getAllBookings
          method: get

  getFilteredData:
    handler: dist/controllers/AdminController.getFilteredData
    events:
      - httpApi:
          path: /getFilteredData
          method: get

  viewSlot:
    handler: dist/controllers/SlotController.viewSlot
    events:
      - httpApi:
          path: /viewSlot
          method: get

plugins:
  - serverless-offline