# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: jagan2002
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: awsapp2002
# "service" is the name of this project. This will also be added to your AWS resource names.
service: VaccinePortal

provider:
  name: aws
  runtime: nodejs20.x
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "cognito-idp:AdminInitiateAuth"
            - "cognito-idp:SignUp"
            - "cognito-idp:AdminCreateUser"
            - "cognito-idp:AdminSetUserPassword"
            - "cognito-idp:AdminUserGlobalSignOut"
            - s3:PutObject
            - s3:GetObject 
            - s3:DeleteObject
          Resource: "*"

  S3UploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: s3signed123
      CorsConfiguration:
        CorsRules:
          - AllowedHeaders:
              - "*"
            AllowedMethods:
              - GET
              - PUT
              - DELETE
            AllowedOrigins:
              - "*"
            
  # Uncomment to easily set up a custom domain. Read the docs for more details:
  # https://www.serverless.com/framework/docs/providers/aws/guide/domains
  # domain: api.example.com

functions:
  registerUser:
    handler: dist/controllers/UserController.registerUser
    events:
      - http:
          path: /register
          method: post
          cors: true
          integration: lambda
          request:
            template:
              application/json: '{ "body": $input.json("$") }'
          
  loginUser:
    handler: dist/controllers/UserController.loginUser
    events:
      - http:
          path: /login
          method: post

  getProfile:
    handler: dist/controllers/UserController.getProfile
    events:
      - http:
          path: /getProfile
          method: get

  addSlot:
    handler: dist/controllers/AdminController.addSlot
    events:
      - http:
          path: /addSlot
          method: post

  getSlots:
    handler: dist/controllers/AdminController.getSlots
    events:
      - http:
          path: /getSlots
          method: get

  getAllBookings:
    handler: dist/controllers/AdminController.getAllBookings
    events:
      - http:
          path: /getAllBookings
          method: get

  getFilteredData:
    handler: dist/controllers/AdminController.getFilteredData
    events:
      - http:
          path: /getFilteredData
          method: get

  viewSlot:
    handler: dist/controllers/SlotController.viewSlot
    events:
      - http:
          path: /viewSlot
          method: get

  BookSlot:
    handler: dist/controllers/SlotController.BookSlot
    events:
      - http:
          path: /BookSlot
          method: post

  userSlotBooking:
    handler: dist/controllers/SlotController.userSlotBooking
    events:
      - http:
          path: /userSlotBooking
          method: get

  cancelSlot:
    handler: dist/controllers/SlotController.cancelSlot
    events:
      - http:
          path: /cancelSlot
          method: get
  
  uploadFile:
    handler: dist/s3/uploadFile.uploadFile
    events:
      - http:
          path: /uploadFile
          method: get

  getFile:
    handler: dist/s3/getFile.getFile
    events:
      - http:
          path: /getFile
          method: get

  deleteFile:
    handler: dist/s3/deleteFile.deleteFile
    events:
      - http:
          path: /deleteFile
          method: delete
  
  emailFormat:
    handler: dist/s3/emailSNSTemplate.emailFormat
    events:
      - http: 
          path: /emailFormat
          method: post

  SESMail:
    handler: dist/src/emailSESTemplate.SESMail
    events:
      - http:
          path: /SESMail
          method: post

  RefreshToken:
    handler: dist/middleware/refreshToken.RefreshToken
    events:
      - http:
          path: /RefreshToken
          method: post

  # SingleLogin:
  #   handler: dist/middleware/singleLogin.SingleLogin

  # UpdateVaccinationStatusCron:
  #   handler: dist/cron/markVaccinated.UpdateVaccinationStatusCron
  #   events:
  #     - schedule:
  #         rate: rate(2 minutes)
plugins:
  - serverless-offline